<% provide(:title,'About') %>
<h1>About</h1>
<div class="container">
  <div class="row">
<p><h3>Pithugram</h3> is an online news and social networking service where users post and
  interact with messages, "tweets". Registered users can post tweets,
  but those who are unregistered can only read them. Users access Pithugram through its website interface.
</p>
</div>
</div>
