<% provide(:title,'Help') %>
<h1>Help</h1>
<div class='container'>
<div class="row">
<h3>What is Pithugram?</h3>
<p>Pithugram is the place to find out about what’s happening in the world right now.
   Whether you’re interested in music, sports, politics, news, celebrities, or everyday moments—come
   to Pithugram to see and join in on what’s happening now.</p>
</div>
<div class="row">
<h3>What do I use Pithugram for?</h3>
<p>While everyone experiences Pithugram differently, here are a few areas that might interest you to help you get started.
</p>
 <p><b>News and politics:</b> Get the latest on local and global news, watch political events as they unfold,
   and take a part in communities and social movements.</p>
 <p><b>Sports:</b> From the Olympics to the NFL draft, get real-time updates, see what the star players have t
   o say, and connect with fans around the world.</p>
 <p><b>Pop culture:</b> See what your favorite celebrities are up to by following them on Pithugram
   and joining in on the conversation.</p>
 <p><b>Influencers:</b> Find out what thought-leaders and experts in your industry are saying,
    and connect with creators, artists, and celebrities.</p>
 <p><b>Utility:</b> Get commuter info and updates, receive disaster updates and support, and reach
   customer service agents without having to call.</p>
</div>
</div>
