<% provide(:title, @user.name) %>
<h1>SHOW USER </h1>
<div class="container">
<div class= "center jumbotron">
<p><b>Name:</b><%= @user.name %></p>
<p><b>Email:</b><%= @user.email %></p>
</div>
</div>
